@page "/inquiries/details"
@using Microsoft.EntityFrameworkCore
@using Project.Domain
@inject IDbContextFactory<Project.Data.ProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Inquiry</h2>
    <hr />
    @if (inquiry is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Question</dt>
            <dd class="col-sm-10">@inquiry.Question</dd>
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@inquiry.Date</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@inquiry.UserId</dd>
        </dl>
        <div>
            <a href="@($"/inquiries/edit?inquiryid={inquiry.InquiryId}")">Edit</a> |
            <a href="@($"/inquiries")">Back to List</a>
        </div>
    }
</div>

@code {
    private Inquiry? inquiry;

    [SupplyParameterFromQuery]
    private int InquiryId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        inquiry = await context.Inquiry.FirstOrDefaultAsync(m => m.InquiryId == InquiryId);

        if (inquiry is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
